[submodule "src/slf4p"]
	path = src/slf4p
	url = https://github.com/michaelJustin/slf4p.git
[submodule "src/coinbase-pro"]
	path = src/coinbase-pro
	url = https://github.com/mr-highball/coinbase-pro.git
[submodule "src/ledger"]
	path = src/ledger
	url = https://github.com/mr-highball/ledger.git
[submodule "src/AraratSynapse"]
	path = src/AraratSynapse
	url = https://github.com/svn2github/AraratSynapse.git
[submodule "src/ezthreads"]
	path = src/ezthreads
	url = https://github.com/mr-highball/ezthreads
